<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
  <Identity Name="d60a5419-5bda-4b58-ae3e-e22787aaca48" Publisher="CN=rmateos" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="d60a5419-5bda-4b58-ae3e-e22787aaca48" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>QuienEsQuien</DisplayName>
    <PublisherDisplayName>rmateos</PublisherDisplayName>
    <Logo>Assets/packageicon/200.jpg</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="adivina-quien-soy.App">
      <uap:VisualElements DisplayName="Adivina quién soy" Square150x150Logo="Assets/medium tile/600.jpg" Square44x44Logo="Assets\appicon\176.jpg" Description="Adivina quién soy, un divertido juego." BackgroundColor="transparent">
        <uap:DefaultTile ShortName="¡Adivina quién soy!" Square310x310Logo="Assets/Large tile/1240.jpg" Wide310x150Logo="Assets/Wide tile/1240.jpg" Square71x71Logo="Assets/small tile/284.jpg">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets/splashscreen/2480.jpg" BackgroundColor="#2196F3" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>